@media (min-width: 600px) {


    .cabecalho{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 40px;
    }

    .menu{
        display: none;
    }

    .cabecalho ul{
        display: flex;
        margin-top: 0px;
    
    }

    .cabecalho ul li{
        margin-top: 0px;
        margin-left: 1em;
    }

    .cabecalho .btn a{
        margin-top: 0px;
    }

    /* Apresentacao*/

    .apresentacao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .apresentacao article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .apresentacao article:last-child{
        align-items: center;
        justify-content: center;
    }


    .apresentacao article h1{
        font-size: 4em;
    }

    .apresentacao article .btn{
        align-self: center;
    }
    .apresentacao article .btn a{
        width: 300px;
        
    }


 /*Sobre mim */



    .sobre-nos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }

    .sobre-nos article{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
    }

    .sobre-nos article:first-child{
      width: 30%;
    }

    .sobre-nos-image img{
        right: 0.9em;
        height: 100%;
    }

    .sobre-nos p{
        text-align: justify;
        padding: 10px;
    }

    /* Portfólio */

    .portfolio nav ul{
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Projeto*/

    .projeto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    .projeto div{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    .projeto div:nth-child(2){
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        
    }

    .projeto p{
        margin-top: 2em;
        text-align: justify;
    }

   
    .image-projeto img{
        width: 60%;
        height: auto;
        margin-top: 0px;
    }

    .projeto .btn{
        align-self: center;
    }


    /*Tecnologias */

    .tecnologias{
        padding: 5em 0px 10em 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
    
    }
    



/* Contato */
  
    .contato{
        padding: 80px 10px 50px 0px;
        border-radius: 90px 90px 0px 0px;
        border-top: 5px solid  #64bce1;
        background-color: #4b53c8f8;
    }

    .background-contato{
        background: url(../img/Wallpaper-cidade-foguete.jpg);
        border-radius: 90px 90px 0px 0px;
    }


    .contatos{
        display: flex;
        justify-content: space-evenly;
    }

    .contato article:nth-child(2){
        margin: 0px;
        width: 30%;
        box-shadow: 5px 5px 5px black;
        border: solid 2px #64bbe193;
    }


    
}